@charset "utf-8";


/* ===== ページ共通設定 ===== */
/* container : bodyのラップクラス ===== */
.container {
	margin: 0 auto; /* 幅 + 両側自動値 で中央揃えになる。 */
	padding: 0;
  width: 100%;
	min-width: 820px;
	max-width: 980px;
  min-height: 100%;
 	background-color: #FFFFFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}



/* ===== 個別ページ設定 ===== */
/* concert */
.concert-txt {
	float: left;
  width: 54%;
	height: 31em;
	margin-left:12%;
}

.concert-img {
	float: right;
  margin-right: 10%;
	width: 24%;
	height: auto;
}



/* link */
dl.link_l{
	clear:both;
	padding:5px 0px 20px;
}
dl.link_l dt{
  float:left;
}
dl.link_l dd{
	zoom:100%;
	font-size:90%;
}

.link_l {
	line-height: 1.3em;
}


/* recruitment */
.recruit-part-list{
		margin: 10px auto;
    width: 540px;
		text-align: left;
}

#calendar-frame1 {
  float: left;
	margin: 30px 0.5% 0 11.5%;
	width: 38%;
	height: 20em; /* ！カレンダーと下のコンテンツの余白はここで調整！ */
}


#calendar-frame2 {
  float: left;
	margin: 30px 11.5% 0 0.5%;
	width: 38%;
}


/* history */
#history-table {
	width: 70%;
}



/* ===== ページ共通設定 ===== */
/* header */
.header {
	-webkit-border-radius: 10px 10px 0 0 / 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0 / 10px 10px 0 0;
  border-radius: 10px 10px 0 0 / 10px 10px 0 0;
}

/* body */
body {
	background-image: url("../img/bg/violin-bg.png");
	background-size: contain;
	background-repeat: repeat-y;
}

/* footer */
.footer p{
	height: 32px;
	position: absolute;
	bottom: 0;
	padding-top: 8px;
	margin-bottom: 0;

	background-color: #CCFFCC;
	position: relative;/* IE6 に、適切にクリアするための hasLayout を指定 */
	clear: both; /* これにより .container は、カラムの範囲を認識してその範囲を含めるようになる */
	
	text-align:center;
	font-size: small;
}



/* ===== 汎用設定 ===== */
.txt {
	width: 60%;
	margin: 0 auto 30 auto;
}



/* 広告へのスタイル付け（忍者HP用） */
.tdftad {
  width: 100%;
	min-width: 700px;
	max-width: 980px;
	max-height: 40px;
	background-color: #CCFFCC;
	margin: 0 auto !important;
	padding: 0;
	text-align:center;

  -webkit-border-radius: 0 0 10px 10px / 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px / 0 0 10px 10px;
  border-radius: 0 0 10px 10px / 0 0 10px 10px;

}