@charset "utf-8";


/* ===== ページ共通設定 ===== */
/*
* {
  font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "MS PMincho" serif;
}
*/
/* container : bodyのラップクラス ===== */
.container {
	margin: 0 auto; /* 幅 + 両側自動値 で中央揃えになる。 */
	padding: 0;
	width: 100%;
	min-width: 640px;
	max-width: 800px;
  min-height: 100%;
	background-color: #FFFFFF;
}



/* ===== 個別ページ設定 ===== */
/* concert */
.concert-txt {
	margin: 0 auto;
  width: 76%;
}

.concert-img {
	margin: 0 auto;
	width: 60%;
}

/* link */
dl.link_l{
	clear:both;
	padding:5px 0px 25px;
}
dl.link_l dt{
	width:210px; float:left;
}
dl.link_l dd{
	zoom:100%;
	margin-left:210px;
	padding-left:5px;
	font-size:90%;
}

.link_l {
	line-height: 1.4em;
}


/* recruitment */
.recruit-part-list{
		margin: 10px auto;
    width: 480px;
		text-align: left;
}

.recruit-part-list li{
  padding-left: 1.6em;
  text-indent: -1.4em;
}


#calendar-frame1 {
	margin: 30px 12% 0 12%;
	width: 76%;
}

#calendar-frame2 {
	margin: 30px 12% 0 12%;
	width: 76%;
}

/* history */
#history-table {
	width: 90%;
}



/* ===== ページ共通設定 ===== */
/* footer */
.footer p{
	height: 30px;
	background-color: #CCFFCC;
	position: relative;/* IE6 に、適切にクリアするための hasLayout を指定 */
	padding-top: 5px;
	
	text-align:center;
	font-size: small;
}



/* ===== 汎用設定 ===== */
.txt {
	width: 76%;
	margin: 0 auto 30 auto;
}



/* 広告へのスタイル付け（忍者HP用） */
.tdftad {
	width: 100%;
	min-width: 640px;
	max-width: 800px;
	height: 30px;
	margin: 0 auto !important;
	padding: 0;
	text-align:center;
}