@charset "utf-8";


th {
	height: 38px;
	text-align: center;
	font-size: 16px;
}

tr td:first-child {
	padding-left: 8% !important;
	padding-right: 2% !important;
	width: 70%;
}

tr td:last-child {
	padding-right: 8% !important;
}

td, tr{
	line-height: 2em;
	padding-top: 5px;
	padding-bottom: 5px;
}